* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  --color1: #1a2c5b; /*dark blue*/
  --color2: #2b4b87; /*regular blue*/
  --color3: #431488; /* dark purple*/
  --color4: #b8dff0; /*light blue*/
  --color5: #ffffff; /*white*/
  --color6: #c0c0c0; /*silver*/
  --color7: #e5e5e5; /*light grey*/
  --color8: #6a26cd; /*regular purple*/
  --color9: #808080; /*grey*/
}

#root {
  display: flex;
  flex-direction: column;
}

body,
input,
button,
select,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-style: normal;
  color: var(--color1);
  background-color: var(--color5);
}

a {
  text-decoration: none;
}

a:link {
  color: var(--color8);
}

a:hover {
  color: var(--color5);
}

a:active {
  color: var(--color8);
}

a:visited {
  color: var(--color8);
}

.no-scroll {
  overflow: hidden;
}